* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}



.test {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 2;
    justify-content: center;
    background-color: #8abcbc;
    gap: 15px;
}

.header {
    grid-column: 1/4;
    padding: 15px 0;
    background-color: #8abcbc;
    justify-content: center;
    
    /* max-height: 50px; */
}

.header div {
    background-color: rgb(239, 239, 239);
    padding: 5px 15px;
    text-align: center;
}

.scoreBox {
    display: flex;
    justify-content: center;
    /* align-items: cente; */
}

.numberIcon {
    height: 40px;

}

.left {
    grid-column: 1/2;
}

.right {
    grid-column: 2/2;
}

button {
    padding: 30px 30px;
    border-radius: 90px;
    font-size: 16px;
}

button:hover {
    border: solid 3px;
    border-color: #8abcbc;
    padding: 27px 27px;
}

/* button:focus {
    background-color: #8abcbc;
} */

button:active {
    background-color: #8abcbc;
}

.choice-box {
    padding: 15px;
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
    margin: 15px 0;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


   
.controls {
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    gap: 15px;
}

.controls-icons {
    max-width: 98px;
    max-height: 98px;
}

.choice-icons {
    max-width: 200px;
    max-height: 200px;
}

.test + .controls {
    margin-top: 15px;
}

img {
    pointer-events: none;
    user-select: none;
}

.rockIcon {
    transform: scale(0.75);
}
